<!-- Loading starts -->
<!--<div id="loading-wrapper">
<div id="loader">
<div class="line1"></div>
<div class="line2"></div>
<div class="line3"></div>
<div class="line4"></div>
<div class="line5"></div>
<div class="line6"></div>
</div>
</div>-->
<!-- Loading ends -->

<!-- BEGIN .app-wrap -->
<div class="app-wrap">
  <app-header></app-header>
  <div class="app-container">
    <!-- BEGIN .app-side -->
    <app-side-menu></app-side-menu>
    <!-- BEGIN .app-main -->
    <div class="app-main">
      <!-- BEGIN .main-heading -->

      <!-- END: .main-heading -->
      <!-- BEGIN .main-content -->
      <div class="main-content">
        <div class="row gutters">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="card text-white " style="background: linear-gradient(-20deg,#374785,#a8d0e6)">

              <div class="card-body">
               <a routerLink="/add-category"><img src="../../../assets/img/icon/plus.png"></a>
                <h4 class="card-title " align="right" style="margin-top: -48px; ">ADD CATEGORIES</h4>

              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="card text-white " style="background: linear-gradient(-60deg,#f8e9a1,#f76c6c)">

              <div class="card-body">
                <a routerLink="/catergories"><img src="../../../assets/img/icon/manage.png"></a>
                <h4 class="card-title " align="right" style="margin-top: -48px; ">MANAGE CATEGORIES</h4>

              </div>
            </div>
          </div>

        </div>

        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">Manage Categories</div>
              <div class="card-body">
                <table class="table table-bordered m-0">
                  <thead class="thead-inverse">
                  <tr>
                    <th>#</th>
                    <th>Category ID</th>
                    <th>Category Name</th>
                    <th>Category Status</th>
                    <th>Cover Images</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>s233jdmbfdbfjdi</td>
                    <td>Eduction</td>
                    <td>true</td>
                    <td><img src="../../../assets/img/user.png" class="img-30" alt="product" /></td>
                    <td>
                      <a class="mdi mdi-information mdi-24px" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo" title="Information Add" routerLink=""></a>
                      <a class="mdi mdi-delete-forever mdi-24px" title="Delete your data " data-toggle="modal" data-target="#Data_delete" data-whatever="@mdo" routerLink=""></a>
                      <a class="mdi mdi-update mdi-24px" title="Update your data" data-toggle="modal" data-target="#Data_update" data-whatever="@mdo" routerLink=""></a>

                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>




      </div>


    </div>
    <!-- END: .app-main -->
  </div>
  <!-- END: .app-container -->
  <!-- BEGIN .main-footer -->
  <app-footer></app-footer>
  <!-- END: .main-footer -->
</div>

<!--<<======================= Information Model with popup ============================>>-->

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-0 mb-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Eduction Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#data" role="tab" aria-controls="home" aria-selected="true">DATA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#donations" role="tab" aria-controls="profile" aria-selected="false">DONATIONS</a>
          </li>

        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="home-tab">
          <h6>Cover Image</h6>
            <img src="../../../assets/img/ngo.jpg"/>


          </div>
          <div class="tab-pane fade" id="donations" role="tabpanel" aria-labelledby="profile-tab">

              <div class="card">
                <div class="card-header">Eduction Donations Details</div>
                <div class="card-body">
                  <table class="table table-bordered m-0">
                    <thead class="thead-inverse">
                    <tr>
                      <th>#</th>
                      <th>Txn.ID</th>
                      <th>Type</th>
                      <th>Category</th>
                      <th>Mode</th>
                      <th>Amount</th>
                      <th>Status</th>
                      <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>s233jdmbfdbfjdi</td>
                      <td>Eduction</td>
                      <td>Eduction</td>
                      <td>online</td>
                      <td>450125665</td>
                      <td>true</td>
                      <td>Pass</td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>



          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>



<!--<<<<========================================== Delete Model With Popup =============================>>-->
<div class="modal fade" id="Data_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Categories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do You Want to delete Categories ??</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Yes</button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

      </div>
    </div>
  </div>
</div>

<!--<<<<================================ Update model With Popup =========================>>>>>-->

<div class="modal fade" id="Data_update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Information Categories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row gutters">
           <h6 align="center">Cover Image</h6>
            <img src="../../../assets/img/ngo.jpg"/>


          </div>
          <hr>
          <div class="form-group row gutters">
            <label class="col-sm-3 col-form-label">Category Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="name" placeholder="Enter Your Category Name">
            </div>
          </div>
          <div class="form-group row gutters">
            <label class="col-sm-3 col-form-label">Category Description</label>
            <div class="col-sm-9">
              <input type="text" class="form-control "  name="description" placeholder="Enter Your Description">
            </div>
          </div>
          <div class="form-group row gutters">
            <label class="col-sm-3 col-form-label">Change Cover Image</label>
            <div class="col-sm-9">
              <input type="file" class="form-control" name="file" >
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class=" btn btn-info" value="Update">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

          </div>
        </form>

      </div>

    </div>
  </div>
</div>
