
<div class="container">
  <div class="login-screen row align-items-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <form >
        <div class="login-container">
          <div class="row no-gutters">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <div class="login-box">
                <a href="#" class="login-logo">
                  <h5>NGO Help</h5>
                </a>
                <div class="input-group" >
                  <span class="input-group-addon" id="username"><i class="icon-account_circle"></i></span>
                  <input type="text" class="form-control" placeholder="Username"
                         name="email" #email="ngModel" required="" [(ngModel)]="login.email">
                </div><br>
                <div class="input-group" *ngIf="email.touched && !email.valid">
                  <div class="alert alert-danger" *ngIf="email.errors.required">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="icon-warning2 "></i><strong>Opps!</strong> Please Enter Your Valid Username.
                  </div>
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-addon"><i class="icon-verified_user"></i></span>

                  <input type="password" placeholder="Password" class="form-control"
                         name="password" #password="ngModel" [(ngModel)]="login.password" required>
                </div><br>
                <div class="input-group" *ngIf="password.touched && !password.valid">
                  <div class="alert alert-danger" *ngIf="password.errors.required">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="icon-warning2"></i><strong>Sorry !</strong> Please Enter Your Valid Password.
                  </div>
                </div>

                <div class="actions clearfix">
                  <a routerLink="/forgetpassword">Lost password?</a>
                  <button type="submit" class="btn btn-primary" (click)="loginapi()" >Login</button>
                </div>


              </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <div class="login-slider"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>

