<aside class="app-side " id="app-side">
  <div class="side-content ">
    <div class="user-profile">
      <img src="../../../assets/img/avatricon.jpg" class="profile-thumb" alt="Ngo Admin">
      <h6 class="profile-name">NGO ADMIN</h6>
      <ul class="profile-actions">
        <li><a href="#"><i class="icon-social-skype"></i><span class="count-label red"></span></a></li>
        <li><a href="#"><i class="icon-social-twitter"></i></a></li>
        <li><a routerLink="/lock" title="LOCK YOUR DASHBOARD"><i class="icon-export"></i></a></li>
      </ul>
    </div>
    <nav class="side-nav affix">
      <ul class="unifyMenu" id="unifyMenu">
        <li class="">
          <a routerLink="/dashboard" class="has" aria-expanded="false">
            <span class="has-icon"><img src="../../../assets/img/icon/dashboard.png"></span>
            <span class="nav-title">DASHBOARD</span>
          </a>
        </li>
        <li>
          <a routerLink="/catergories">
            <span class="has-icon"><img src="../../../assets/img/icon/add-cat.png"/></span>
            <span class="nav-title">CATEGORIES</span>
          </a>
        </li>
        <li>
          <a routerLink="/disasters" class="has" aria-expanded="false">
            <span class="has-icon"><img src="../../../assets/img/icon/disasters.png"></span>
            <span class="nav-title">DISASTERS</span>
          </a>
        </li>
        <li>
          <a routerLink="/fundraiser">
            <span class="has-icon"><img src="../../../assets/img/icon/funding.png"></span>
            <span class="nav-title">FUNDRAISER</span>
          </a>
        </li>
        <li>
          <a routerLink="/payment">
            <span class="has-icon"><img src="../../../assets/img/icon/payment.png"></span>
            <span class="nav-title">PAYMENT</span>
          </a>
        </li>
        <li>
          <a routerLink="/user">
            <span class="has-icon"><img src="../../../assets/img/icon/user.png"></span>
            <span class="nav-title">USER</span>
          </a>
        </li>

        <li class="menu-header">
          --- Options ----
        </li>
        <li>
          <a routerLink="/payment-key">
            <span class="has-icon"><img src="../../../assets/img/icon/paymentkey.png"></span>
            <span class="nav-title">PAYMENT KEY</span>
          </a>
        </li>

        <li>
          <a routerLink="/termandcondition">
            <span class="has-icon"><img src="../../../assets/img/icon/term.png"></span>
            <span class="nav-title">TERMS AND CONDITION</span>
          </a>
        </li>

        <li>
          <a routerLink="/privacyandpolicy">
            <span class="has-icon"><img src="../../../assets/img/icon/privacy.png"></span>
            <span class="nav-title">PRIVACY AND POLICY</span>
          </a>
        </li>


      </ul>
      <!-- END: side-nav-content -->
    </nav>
    <!-- END: .side-nav -->
  </div>
  <!-- END: .side-content -->
</aside>
<!-- END: .app-side -->
