<div class="app-wrap">
  <app-header></app-header>
  <div class="app-container">
    <app-side-menu></app-side-menu>
    <div class="app-main">
      <div class="main-content">
        <div class="row gutters">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="card text-white " style="background:  linear-gradient(-20deg,#A8D0E6,#374785)">

              <div class="card-body">
                <a routerLink="/add-fundraiser"><img src="../../../assets/img/icon/plus.png"></a>
                <h4 class="card-title " align="right" style="margin-top: -48px; ">ADD FUNDRAISER</h4>

              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="card text-white " style="background:linear-gradient(-60deg,#f8e9a1,#f76c6c)">

              <div class="card-body">
                <a routerLink="/fundraiser"><img src="../../../assets/img/icon/manage.png"></a>
                <h4 class="card-title " align="right" style="margin-top: -48px; ">MANAGE FUNDRAISER</h4>

              </div>
            </div>
          </div>

        </div>
        <!-- form start with  -->
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">Add Fundraiser</div>
              <div class="card-body">
                <ul class="nav nav-tabs nav-justified" id="myTab2" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab1" data-toggle="tab" href="#data" role="tab" aria-controls="home1" aria-selected="true">Data</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab1" data-toggle="tab" href="#photo" role="tab" aria-controls="profile1" aria-selected="false">Photos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#document" role="tab" aria-controls="contact1" aria-selected="false">Document</a>
                  </li>
                </ul>
                <form method="get">
                <div class="tab-content" id="myTabContent1">
                  <!--<form method="get">-->
                  <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="home-tab1">
                    <!--<form method="get">-->

                      <div class="card">
                        <div class="card-body">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label  class="col-form-label">Fundraiser Name</label>
                              <input type="text" class="form-control" name="Fundraiser_name"
                                     oninput="this.className" placeholder="Fundraiser name">
                            </div>
                            <div class="form-group col-md-6">
                              <label  class="col-form-label">Short Description</label>
                              <input type="text" class="form-control" name="short_description"
                                     oninput="this.className" placeholder="Short Description">
                            </div>

                            <div class="form-group col-md-4">
                              <label  class="col-form-label">Goal Amount</label>
                              <input type="number"class="form-control" name="short_description"
                                     oninput="this.className" placeholder="Goal Amount">
                            </div>
                            <div class="form-group col-md-4">
                              <label  class="col-form-label">Start Date</label>
                              <input type="date"  class="form-control"
                                     oninput="this.className" name="startDate">

                            </div>
                            <div class="form-group col-md-4">
                              <label  class="col-form-label">End Date</label>
                              <input type="text" bsDatepicker class="form-control" name="endDate"
                                     oninput="this.className" >

                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-form-label">Description</label>
                            <textarea  class="form-control" name="description"
                                       oninput="this.className"  placeholder="Description"></textarea>
                          </div>

                          <div class="card-header">Contact Details</div>
                          <br>
                          <div class="form-row">
                            <div class="form-group col-md-3">
                              <label  class="col-form-label">Country</label>
                              <input type="text" class="form-control" placeholder="Country"
                                     oninput="this.className" name="country">
                            </div>
                            <div class="form-group col-md-3">
                              <label for="inputState" class="col-form-label">State</label>
                              <select id="inputState" class="form-control" oninput="this.className">
                                <option>Choose</option>
                                <option>1</option>
                                <option>2</option>
                              </select>
                            </div>
                            <div class="form-group col-md-3">
                              <label  class="col-form-label">City</label>
                              <input type="text" class="form-control" placeholder="City"
                                     oninput="this.className" name="city" >
                            </div>
                            <div class="form-group col-md-3">
                              <label  class="col-form-label">Zip</label>
                              <input type="text" class="form-control" placeholder="Zip"
                                     oninput="this.className" name="zip">
                            </div>
                          </div>

                          <div class="form-group">
                            <label  class="col-form-label">Address</label>
                            <input type="text" class="form-control" name="address"
                                   oninput="this.className" placeholder="Apartment, studio, or floor">
                          </div>
                        </div>
                      </div>



                  </div>

                  <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="profile-tab1">
                    <div class="card-header">Cover Image</div><br>
                    <input type="file" name="upload[]" class="form-control" multiple="multiple">
                    <div class="clearfix"></div><br><br><hr><hr>

                    <!-- <div class="card-header">Photo</div><br>
                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label  class="col-form-label">Photo 1</label>
                        <input type="file" class="form-control" name="upload[]">
                      </div>
                      <div class="form-group col-md-3">
                        <label  class="col-form-label" >Photo 2</label>
                        <input type="file" name="upload[]" class="form-control">
                      </div>
                      <div class="form-group col-md-3">
                        <label  class="col-form-label">Photo 3</label>
                        <input type="file" name="upload[]" class="form-control" >
                      </div>
                      <div class="form-group col-md-3">
                        <label  class="col-form-label">Photo 4</label>
                        <input type="file" class="form-control"  name="upload[]">
                      </div>
                    </div><br><br> -->

                    <div>
                      <p>Max Upload 4 Photos</p>
                      <p>Min 2 photos are required</p>
                    </div>



                  </div>
                  <div class="tab-pane fade" id="document" role="tabpanel" aria-labelledby="contact-tab1">

                    <div class="card-header">Document</div><br>
                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label  class="col-form-label">Document 1</label>
                        <input type="file" class="form-control" name="upload[]">
                      </div>
                      <div class="form-group col-md-3">
                        <label  class="col-form-label" >Document 2</label>
                        <input type="file" name="upload[]" class="form-control">
                      </div>
                      <div class="form-group col-md-3">
                        <label  class="col-form-label">Document 3</label>
                        <input type="file" name="upload[]" class="form-control" >
                      </div>

                    </div>
                    <button type="submit" class="btn btn-primary btn-lg text-center" onclick="" >Submit
                      <i class="icon icon-send"></i>
                    </button>

                  </div>

                </div>

                </form>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>

