<div class="app-wrap">
  <app-header></app-header>
  <div class="app-container">
    <app-side-menu></app-side-menu>
    <div class="app-main">
      <div class="main-content">
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">Payment-Key Details</div>
              <div class="card-body">
                <table class="table table-bordered m-0">
                  <thead class="thead-inverse">
                  <tr>
                    <th>#</th>
                    <th>NGO Name </th>
                    <th> Type</th>
                    <th>Salt</th>
                    <th>MID</th>
                    <th>Key</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>NGO HELPING</td>
                    <td>Eduction</td>
                    <td>79946464677</td>
                    <td>wdefef88778efe45f45e</td>
                    <td>45458878</td>

                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>




      </div>


    </div>
  </div>
  <app-footer></app-footer>
</div>
