<!-- Loading starts -->
<!--<div id="loading-wrapper">
<div id="loader">
<div class="line1"></div>
<div class="line2"></div>
<div class="line3"></div>
<div class="line4"></div>
<div class="line5"></div>
<div class="line6"></div>
</div>
</div>-->
<!-- Loading ends -->

<!-- BEGIN .app-wrap -->
<div class="app-wrap">
  <app-header></app-header>
  <div class="app-container">
    <app-side-menu></app-side-menu>
    <div class="app-main">
      <div class="main-content">
        <div class="row gutters">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="card text-white " style="background: linear-gradient(-20deg,#A8D0E6,#374785)">
              <div class="card-body">
                <a routerLink="/add-category"><img src="../../../assets/img/icon/plus.png"></a>
                <h4 class="card-title " align="right" style="margin-top: -48px; ">ADD CATEGORIES</h4>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="card text-white " style="background: linear-gradient(-60deg,#f8e9a1,#f76c6c)">
              <div class="card-body">
                <a routerLink="/catergories"><img src="../../../assets/img/icon/manage.png"></a>
                <h4 class="card-title " align="right" style="margin-top: -48px; ">MANAGE CATEGORIES</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row gutters">
          <div class="wrapper fadeInDown">
            <div id="formContent">
              <h2 class="active"> Add CATEGORY </h2><hr><hr>
              <div class="row">
                <form [(formGroup)]="form" >
                  <div class="col-sm-6">
                    <input type="text" id="" class="fadeIn second" name="categories_name"
                           placeholder="Enter Your category Name" #categories_name="ngModel"
                           [(ngModel)]="categories.categories_name">
                  </div>
                  <div *ngIf="categories_name.invalid && (categories_name.dirty || categories_name.touched)"
                       class="alert alert-danger"></div>

                    <div *ngIf="categories_name.errors.required">
                      Name is required.
                    </div>
                    <div *ngIf="categories_name.errors.minlength">
                      Name must be at least 4 characters long.
                    </div>
                    <div *ngIf="categories_name.errors.forbiddenName">
                      Name cannot be Bob.
                    </div>
                  <div class="col-sm-6" style="margin-top: -67px;margin-left: 500px;">
                    <input type="file" class="fadeIn third" name="categories_img" #categories_img="ngModel"
                           placeholder="Cover Image " [(ngModel)]="categories.categories_img">
                  </div>
                  <div class="">
                    <textarea class="fadeIn"  rows="10" placeholder=" Enter Description" #categories_description="ngModel"
                              name="categories_description" style="margin-left: 0px;" [(ngModel)] = categories.categories_description>
                    </textarea>
                  </div>
                  <input type="submit" class="fadeIn fourth" value="Submit" (click)="add_category()">

                </form>


              </div>
            </div>


          </div>
        </div>



      </div>
      <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
  </div>
  <!-- END: .app-container -->
  <!-- BEGIN .main-footer -->
  <app-footer></app-footer>
  <!-- END: .main-footer -->
</div>
<!-- END: .app-wrap -->

