<div class="app-wrap" xmlns="http://www.w3.org/1999/html">
  <app-header></app-header>
  <div class="app-container">
    <app-side-menu></app-side-menu>
    <div class="app-main">
      <div class="main-content">
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">Privacy And Policy</div>

              <div class="card-body">
                <form>
                  <div class="form-group">
                    <textarea  class="form-control" rows="20" name="tac" placeholder="Terms And Conditions"
                               aria-required="true" data-ok="false" name="privacyandpolicy" id="p"
                               #privacyandpolicy="ngModel" [(ngModel)]="GetPrivacy.privacyandpolicy" >

                    </textarea>
                  </div>
                  <input type="submit" value="submit" aria-disabled="true" aria-describedby="pErr" class="btn btn-primary" (click)="privacy()" >
                </form>
              </div>

            </div>

          </div>
        </div>




      </div>


    </div>
  </div>
  <app-footer></app-footer>
</div>
