
<form action="">
  <div class="lock-screen">
    <div class="avatar">
      <img src="../../assets/img/avatricon.jpg" alt="Unify Admin">
      <span class="lock">
						<i class="icon-lock2"></i>
					</span>
    </div>
    <h5 class="heading">Himanshu Rajput</h5>
    <div class="lock-screen-input">
      <input type="password" class="form-control" autofocus name="Unlock" placeholder="Password...">
      <button class="lock-btn"><i class="icon-arrow-right2"></i></button>
    </div>
  </div>
</form>


